In [116]:
import pandas as pd
import numpy as np

In [117]:
df = pd.read_csv('intern_task.csv')

In [118]:
df.head()

,rank,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
0,0,10,1.0,0.0,1.0,3.0,3.0,0.333333,0.0,0.333333,...,0.0,0.000000,0.454545,0.890238,8.655534,1.000000,0.077778,0.002222,1.0,0.333333
1,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.773976,23.130514,0.000000,0.027826,0.000430,44.0,14.666667
2,0,10,3.0,0.0,2.0,0.0,3.0,1.000000,0.0,0.666667,...,0.0,0.000000,0.000000,0.918308,13.351339,0.000000,0.014925,0.000104,22.0,7.333333
3,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.975355,18.240926,0.000000,0.053140,0.000255,8.0,2.666667
4,2,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,...,273.0,79.670665,0.200000,0.990119,31.786048,0.333333,0.046512,0.000307,24.0,8.000000

In [119]:
df.describe()

,rank,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
count,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,...,2.352580e+05,2.352580e+05,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000,235258.000000
mean,0.677869,14828.413401,1.911960,0.206233,1.189847,0.550272,1.960082,0.803964,0.097557,0.541174,...,4.763432e+02,1.046698e+04,0.070299,0.740710,11.067947,0.281747,0.027033,0.000269,22.457910,9.560379
std,0.830033,8193.945170,1.237374,0.579089,1.037233,0.790947,1.203534,0.339955,0.266035,0.419973,...,1.954840e+04,2.649584e+06,0.100721,0.352800,15.336861,0.392089,0.033351,0.002088,63.708018,14.347378
min,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,8215.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.666667,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000,0.620522,0.000000,0.000000,0.006703,0.000000,4.000000,2.000000
50%,0.000000,14935.000000,2.000000,0.000000,1.000000,0.000000,2.000000,1.000000,0.000000,0.500000,...,0.000000e+00,0.000000e+00,0.000000,0.926779,9.448900,0.000000,0.017761,0.000008,12.000000,5.500000
75%,1.000000,21580.000000,3.000000,0.000000,2.000000,1.000000,3.000000,1.000000,0.000000,1.000000,...,1.000000e+00,4.000000e-01,0.142857,0.999613,16.146733,0.500000,0.034954,0.000109,28.000000,12.000000
max,4.000000,29995.000000,31.000000,18.000000,27.000000,9.000000,31.000000,1.000000,1.000000,1.000000,...,1.731553e+06,8.000000e+08,0.818182,1.000000,2506.799764,1.000000,0.711261,0.250000,15074.000000,1552.000000

In [120]:
y= df['rank']
df.drop('rank', axis= 1 , inplace= True)

In [121]:
df

,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
0,10,1.0,0.0,1.0,3.0,3.0,0.333333,0.0,0.333333,0.000000,...,0.0,0.000000,0.454545,0.890238,8.655534,1.000000,0.077778,0.002222,1.0,0.333333
1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,0.004251,...,0.0,0.000000,0.000000,0.773976,23.130514,0.000000,0.027826,0.000430,44.0,14.666667
2,10,3.0,0.0,2.0,0.0,3.0,1.000000,0.0,0.666667,0.008501,...,0.0,0.000000,0.000000,0.918308,13.351339,0.000000,0.014925,0.000104,22.0,7.333333
3,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,0.012752,...,0.0,0.000000,0.000000,0.975355,18.240926,0.000000,0.053140,0.000255,8.0,2.666667
4,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,0.017003,...,273.0,79.670665,0.200000,0.990119,31.786048,0.333333,0.046512,0.000307,24.0,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235253,29995,1.0,0.0,0.0,0.0,1.0,0.500000,0.0,0.000000,999.982997,...,0.0,0.000000,0.000000,0.471409,0.000000,0.000000,0.001350,0.000002,3.0,1.500000
235254,29995,1.0,0.0,1.0,0.0,1.0,0.500000,0.0,0.500000,999.987248,...,0.0,0.000000,0.000000,0.471409,39.908056,0.000000,0.004850,0.000014,9.0,4.500000
235255,29995,1.0,0.0,0.0,0.0,1.0,0.500000,0.0,0.000000,999.991499,...,0.0,0.000000,0.000000,0.471409,0.000000,0.000000,0.001064,0.000001,1.0,0.500000
235256,29995,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,999.995749,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
235257,29995,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,1000.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000

In [122]:
y

0         0
1         1
2         0
3         1
4         2
         ..
235253    2
235254    2
235255    1
235256    2
235257    1
Name: rank, Length: 235258, dtype: int64

В датасете нет пустых значений.

In [123]:
missing_values_count = df.isnull().sum()
missing_values_count.sum()

0

In [137]:
X = df
X

,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
0,10,1.0,0.0,1.0,3.0,3.0,0.333333,0.0,0.333333,0.000000,...,0.0,0.000000,0.454545,0.890238,8.655534,1.000000,0.077778,0.002222,1.0,0.333333
1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,0.004251,...,0.0,0.000000,0.000000,0.773976,23.130514,0.000000,0.027826,0.000430,44.0,14.666667
2,10,3.0,0.0,2.0,0.0,3.0,1.000000,0.0,0.666667,0.008501,...,0.0,0.000000,0.000000,0.918308,13.351339,0.000000,0.014925,0.000104,22.0,7.333333
3,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,0.012752,...,0.0,0.000000,0.000000,0.975355,18.240926,0.000000,0.053140,0.000255,8.0,2.666667
4,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,0.017003,...,273.0,79.670665,0.200000,0.990119,31.786048,0.333333,0.046512,0.000307,24.0,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235253,29995,1.0,0.0,0.0,0.0,1.0,0.500000,0.0,0.000000,999.982997,...,0.0,0.000000,0.000000,0.471409,0.000000,0.000000,0.001350,0.000002,3.0,1.500000
235254,29995,1.0,0.0,1.0,0.0,1.0,0.500000,0.0,0.500000,999.987248,...,0.0,0.000000,0.000000,0.471409,39.908056,0.000000,0.004850,0.000014,9.0,4.500000
235255,29995,1.0,0.0,0.0,0.0,1.0,0.500000,0.0,0.000000,999.991499,...,0.0,0.000000,0.000000,0.471409,0.000000,0.000000,0.001064,0.000001,1.0,0.500000
235256,29995,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,999.995749,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
235257,29995,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,1000.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000

In [127]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [128]:
scaler = StandardScaler()

In [129]:
from sklearn.model_selection import train_test_split

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)
qid = X_train['query_id'].values

In [164]:
X_train_reset_index = X_train.reset_index(drop=True)
y_train_reset_index = y_train.reset_index(drop=True)
qid_reset_index = np.arange(len(qid))

sorted_indices = np.argsort(qid)
X_train_sorted = X_train.iloc[sorted_indices]
y_train_sorted = y_train.iloc[sorted_indices]
qid_sorted = qid[sorted_indices]

In [176]:
qid_test = X_test['query_id'].values

In [178]:
X_test_reset_index = X_test.reset_index(drop=True)
y_test_reset_index = y_test.reset_index(drop=True)
qid_reset_index = np.arange(len(qid_test))

sorted_indices = np.argsort(qid_test)
X_test_sorted = X_test.iloc[sorted_indices]
y_test_sorted = y_test.iloc[sorted_indices]
qid_test_sorted = qid_test[sorted_indices]

In [180]:
X_train_sorted

,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
86,10,3.0,0.0,1.0,3.0,3.0,1.0,0.0,0.333333,0.365558,...,0.0,0.000000,0.357143,0.930250,4.889588,1.000000,0.020659,0.000049,31.0,10.333333
24,10,3.0,0.0,3.0,0.0,3.0,1.0,0.0,1.000000,0.102016,...,12.0,71.238095,0.000000,0.970212,18.240926,0.000000,0.019785,0.000056,56.0,18.666667
85,10,3.0,0.0,0.0,0.0,3.0,1.0,0.0,0.000000,0.361307,...,0.0,0.000000,0.000000,0.995904,0.000000,0.000000,0.024306,0.000028,14.0,4.666667
69,10,3.0,0.0,3.0,1.0,3.0,1.0,0.0,1.000000,0.293296,...,0.0,0.000000,0.142857,0.975755,18.240926,0.333333,0.023725,0.000062,16.0,5.333333
19,10,3.0,0.0,3.0,0.0,3.0,1.0,0.0,1.000000,0.080763,...,0.0,0.000000,0.000000,0.947973,18.240926,0.000000,0.018141,0.000012,5.0,1.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235197,29995,1.0,0.0,0.0,0.0,1.0,0.5,0.0,0.000000,999.744960,...,0.0,0.000000,0.000000,0.471409,0.000000,0.000000,0.003916,0.000017,3.0,1.500000
235210,29995,1.0,0.0,1.0,1.0,1.0,0.5,0.0,0.500000,999.800218,...,0.0,0.000000,0.100000,0.471409,13.302685,0.500000,0.011888,0.000114,15.0,7.500000
235233,29995,1.0,0.0,1.0,0.0,1.0,0.5,0.0,0.500000,999.897984,...,0.0,0.000000,0.000000,0.471409,26.605371,0.000000,0.011521,0.000109,13.0,6.500000
235223,29995,1.0,1.0,1.0,1.0,1.0,0.5,0.5,0.500000,999.855477,...,0.0,0.000000,0.125000,0.471409,13.302685,0.500000,0.010441,0.000079,15.0,7.500000
235202,29995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,999.766213,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000

In [169]:
qid_sorted

array([   10,    10,    10, ..., 29995, 29995, 29995], dtype=int64)

In [179]:
X_test_sorted

,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
62,10,3.0,3.0,0.0,0.0,3.0,1.000000,1.0,0.000000,0.263542,...,0.0,0.0,0.000000,0.975355,0.000000,0.0,0.012411,0.000008,4.0,1.333333
56,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,0.238038,...,0.0,0.0,0.000000,0.988494,18.240926,0.0,0.007976,0.000009,21.0,7.000000
44,10,3.0,0.0,1.0,0.0,3.0,1.000000,0.0,0.333333,0.187030,...,0.0,0.0,0.000000,0.987196,4.695805,0.0,0.021116,0.000034,13.0,4.333333
28,10,3.0,0.0,0.0,0.0,3.0,1.000000,0.0,0.000000,0.119019,...,0.0,0.0,0.000000,0.975608,0.000000,0.0,0.021739,0.000039,9.0,3.000000
39,10,1.0,0.0,0.0,0.0,1.0,0.333333,0.0,0.000000,0.165776,...,4.0,55.7,0.000000,0.414821,0.000000,0.0,0.000615,0.000001,1.0,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235216,29995,1.0,0.0,1.0,1.0,1.0,0.500000,0.0,0.500000,999.825723,...,0.0,0.0,0.076923,0.471409,26.605371,0.5,0.012077,0.000084,7.0,3.500000
235186,29995,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,999.698202,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
235243,29995,1.0,0.0,0.0,0.0,1.0,0.500000,0.0,0.000000,999.940491,...,0.0,0.0,0.000000,0.471409,0.000000,0.0,0.004732,0.000023,6.0,3.000000
235181,29995,1.0,0.0,1.0,1.0,1.0,0.500000,0.0,0.500000,999.676949,...,0.0,0.0,0.100000,0.471409,13.302685,0.5,0.020619,0.000328,10.0,5.000000
235231,29995,1.0,1.0,1.0,1.0,1.0,0.500000,0.5,0.500000,999.889483,...,0.0,0.0,0.125000,0.471409,13.302685,0.5,0.013682,0.000165,41.0,20.500000

In [181]:
numerical_cols = [cname for cname in X_train_sorted.columns if X_train_sorted[cname].dtype in ['int64', 'float64']]

In [182]:
numerical_cols

['query_id',
 'feature_0',
 'feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'feature_6',
 'feature_7',
 'feature_8',
 'feature_9',
 'feature_10',
 'feature_11',
 'feature_12',
 'feature_13',
 'feature_14',
 'feature_15',
 'feature_16',
 'feature_17',
 'feature_18',
 'feature_19',
 'feature_20',
 'feature_21',
 'feature_22',
 'feature_23',
 'feature_24',
 'feature_25',
 'feature_26',
 'feature_27',
 'feature_28',
 'feature_29',
 'feature_30',
 'feature_31',
 'feature_32',
 'feature_33',
 'feature_34',
 'feature_35',
 'feature_36',
 'feature_37',
 'feature_38',
 'feature_39',
 'feature_40',
 'feature_41',
 'feature_42',
 'feature_43',
 'feature_44',
 'feature_45',
 'feature_46',
 'feature_47',
 'feature_48',
 'feature_49',
 'feature_50',
 'feature_51',
 'feature_52',
 'feature_53',
 'feature_54',
 'feature_55',
 'feature_56',
 'feature_57',
 'feature_58',
 'feature_59',
 'feature_60',
 'feature_61',
 'feature_62',
 'feature_63',
 'feature_64',
 'feature_65',
 'feature_66',
 'feature_67',
 'feature_68',
 'feature_69',
 'feature_70',
 'feature_71',
 'feature_72',
 'feature_73',
 'feature_74',
 'feature_75',
 'feature_76',
 'feature_77',
 'feature_78',
 'feature_79',
 'feature_80',
 'feature_81',
 'feature_82',
 'feature_83',
 'feature_84',
 'feature_85',
 'feature_86',
 'feature_87',
 'feature_88',
 'feature_89',
 'feature_90',
 'feature_91',
 'feature_92',
 'feature_93',
 'feature_94',
 'feature_95',
 'feature_96',
 'feature_97',
 'feature_98',
 'feature_99',
 'feature_100',
 'feature_101',
 'feature_102',
 'feature_103',
 'feature_104',
 'feature_105',
 'feature_106',
 'feature_107',
 'feature_108',
 'feature_109',
 'feature_110',
 'feature_111',
 'feature_112',
 'feature_113',
 'feature_114',
 'feature_115',
 'feature_116',
 'feature_117',
 'feature_118',
 'feature_119',
 'feature_120',
 'feature_121',
 'feature_122',
 'feature_123',
 'feature_124',
 'feature_125',
 'feature_126',
 'feature_127',
 'feature_128',
 'feature_129',
 'feature_130',
 'feature_131',
 'feature_132',
 'feature_133',
 'feature_134',
 'feature_135',
 'feature_136',
 'feature_137',
 'feature_138',
 'feature_139',
 'feature_140',
 'feature_141',
 'feature_142',
 'feature_143']

In [183]:
numerical_transformer = StandardScaler()

In [184]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
    ])

In [185]:
import xgboost as xgb
from sklearn.metrics import ndcg_score

full_pipeline = Pipeline(steps=[
    ('preprocessing', preprocessor),
    ('xgboost', xgb.XGBRanker(tree_method="hist", objective="rank:ndcg"))
])

In [186]:
full_pipeline.fit(X_train_sorted, y_train_sorted, xgboost__qid=qid_sorted)


y_pred = full_pipeline.predict(X_test_sorted)

In [208]:

ndcg_5 = ndcg_score(np.expand_dims(y_test_sorted.values, axis=0), np.expand_dims(y_pred, axis=0), k=5)

ndcg_3 = ndcg_score(np.expand_dims(y_test_sorted.values, axis=0), np.expand_dims(y_pred, axis=0), k=3)


print("NDCG@5 на тестовом наборе данных:", ndcg_5)
print("NDCG@5 на тестовом наборе данных:", ndcg_3)

NDCG@5 на тестовом наборе данных: 0.9999999999999999
NDCG@5 на тестовом наборе данных: 1.0